<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.labshigh.realestate.internal.api.item.mapper.ItemFileMapper">
  <insert id="insert" keyProperty="uid" parameterType="com.labshigh.realestate.internal.api.item.dao.ItemDao" useGeneratedKeys="true">
    INSERT INTO realestate.item_file(category_uid, item_uid, file_uri)
    VALUES(#{categoryUid}, #{itemUid}, #{fileUri})
  </insert>
  <insert id="insertBuyItem" parameterType="com.labshigh.realestate.internal.api.item.dao.ItemFileDao" >
    INSERT INTO realestate.item_file(category_uid, item_uid, file_uri)
    SELECT category_uid,#{newItemUid},file_uri
    FROM realestate.item_file AS i
    WHERE i.used_flag = true AND
      i.deleted_flag = false AND
      i.item_uid = #{itemUid}
  </insert>

  <select id="listFile" resultType="com.labshigh.realestate.internal.api.item.dao.ItemFileDao">
    SELECT 	i.uid,
            i.created_at,
            i.updated_at,
            i.deleted_flag,
            i.used_flag,
            i.category_uid,
            i.item_uid,
            i.file_uri
    FROM	realestate.item_file AS i
    WHERE	i.used_flag = true AND
      i.deleted_flag = false AND
      i.item_uid = #{itemUid}
  </select>



</mapper>
