<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.labshigh.realestate.internal.api.marketItem.mapper.MarketItemMapper">
  <insert id="insert" keyProperty="uid" parameterType="com.labshigh.realestate.internal.api.marketItem.dao.MarketItemDao" useGeneratedKeys="true">
    INSERT INTO realestate.market_item (item_uid, quantity, current_quantity, start_at, end_at, price, transaction_hash)
    VALUES(#{itemUid}, #{quantity}, #{currentQuantity}, #{startAt}, #{endAt}, #{price} ,#{transactionHash})
  </insert>
  <select id="detail" resultType="com.labshigh.realestate.internal.api.marketItem.dao.MarketItemDetailDao">
    SELECT 	mi.uid,
            mi.created_at,
            mi.updated_at,
            mi.deleted_flag,
            mi.used_flag,
            mi.item_uid,
            mi.quantity,
            mi.current_quantity,
            mi.start_at,
            mi.end_at,
            mi.price,
            mi.transaction_hash,
            mi.sell_id,
            mi.nft_id,
            mi.minting_status,
            i.member_uid ,
            i.allocation_uid ,
            acc.name  AS allocation_name,
            i.status_uid ,
            scc.name  AS status_name,
            i.image_uri ,
            i.project_name,
            i.total_price,
            i.allocation_day,
            i.`right`,
            i.location,
            i.core_value,
            i.area,
            i.`scale`,
            i.purpose,
            i.company_name,
            i.approval_at,
            i.website_uri,
            i.detail,
            i.token_uri,
            m.wallet_address
    FROM realestate.market_item AS mi
           LEFT OUTER JOIN realestate.item AS i ON mi.item_uid = i.uid AND i.deleted_flag = false AND i.used_flag = true
           LEFT OUTER JOIN realestate.`member` m ON i.member_uid = m.uid AND m.deleted_flag = false AND m.used_flag = true
           LEFT OUTER JOIN common_code AS acc
                           ON i.allocation_uid = acc.uid AND acc.deleted_flag = false AND acc.used_flag = true
           LEFT OUTER JOIN common_code AS scc
                           ON i.status_uid  = scc.uid AND scc.deleted_flag = false AND scc.used_flag = true
    WHERE 	mi.deleted_flag = false AND
            mi.used_flag = true AND
            mi.uid = #{uid}
  </select>

  <update id="updateCurrentQuantity">
    UPDATE realestate.market_item
    SET current_quantity = current_quantity - #{currentQuantity}
    WHERE uid = #{uid}
  </update>

</mapper>
